/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.maindiv
{
 background-color:rgb(25, 228, 197);
 box-shadow:0 4px 8px 0 rgba(4, 6, 6, 0.5), 0 6px 20px 0 rgba(10, 18, 18, 0.5);
 border-radius: 20px;
 width: fit-content;
 box-sizing: border-box;
 margin:20px;
 display: flex;
 align-items: stretch;
}

.datedivcon
{
  padding:calc(0.8vw);
  display:flex;
}

.datediv
{
  display: flex;
  flex-direction: column;
  padding-left:10px;
  padding-right:10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid;
  width: calc(10vw);
  border-color:
  rgb(25, 228, 197)
  rgb(25, 228, 197)
  rgb(25, 228, 197);
  color:rgb(25, 228, 197);
  box-shadow:0 4px 8px 0 rgba(4, 6, 6, 0.5), 0 6px 20px 0 rgba(10, 18, 18, 0.5);
  padding:calc(0.8vw);
  background-color: #1e3737;
}

.datediv h3
{
  font-size: calc(2vw)
}

.timediv
{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  padding:calc(0.8vw);

}

.hour,.min,.sec,.ap
{
  color:rgb(25, 228, 197);
}

h4,h3
{
  margin: 0;
  padding: 0;

}
.hour, .min , .sec
{
  background-color: #1e3737;
  font-size: calc(6vw);
  height: calc(10vw);
  width: calc(10vw);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:0 4px 8px 0 rgba(4, 6, 6, 0.5), 0 6px 20px 0 rgba(10, 18, 18, 0.5);
  border-radius: 10px;
  border: 2px solid;
  border-color:
  rgb(25, 228, 197)
  rgb(25, 228, 197)
  rgb(25, 228, 197);
}
.sep
{
  font-size: calc(6vw);
  box-shadow:
  rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
  rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;

  text-shadow: 2px 2px 4px #000000;
  color:#1e3737;
}


.ap
{
  align-self:flex-end;
  text-shadow: 2px 2px 4px #000000;
  color:#1e3737;
}

.ap h4{
  font-size: calc(2vw);
}


